<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <a href="#/team/{{id}}">
        <img src="{{crestUrl}}" alt="{{name}}" />
      </a>
      <button
        data-id="{{id}}"
        class="btn-floating btn-large halfway-fab waves-effect waves-light red btn-follow"
      >
        <i class="material-icons">{{btnIcon}}</i>
      </button>
    </div>
    <div class="card-content">
      <a href="#/team/{{id}}" title="{{name}}">
        <span class="card-title truncate">{{name}}</span>
      </a>
    </div>
  </div>
</div>
