<div class="col s12">
  <div class="card">
    <a href="/#/team/{{id}}">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="{{crestUrl}}" alt="{{name}}" />
      </div>
    </a>
    <div class="card-content">
      <span class="card-title truncate">{{name}}</span>
      <p>
        Website:
        <a href="{{website}}" target="_blank" rel="noreferrer noopener">
          {{website}}
        </a>
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Saepe atque, delectus
        temporibus, cum neque aliquid beatae ea in odit odio quod mollitia autem
        labore. Recusandae modi iste inventore obcaecati sapiente!
      </p>
    </div>
  </div>
</div>
