<div class="col s12">
  <div class="card">
    <a href="/#/team/{{id}}">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="{{crestUrl}}" alt="{{name}}" />
      </div>
    </a>
    <div class="card-content">
      <table class="highlight left-heading">
        <caption class="center">
          {{name}} ({{tla}})
        </caption>
        <thead>
          <tr>
            <th>Country</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Website</th>
            <th>E-mail</th>
            <th>Founded</th>
            <th>Club Colors</th>
            <th>Venue Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{country}}</td>
            <td>{{address}}</td>
            <td>{{phone}}</td>
            <td>
              <a href="{{website}}" target="_blank" rel="noopener noreferrer">
                {{website}}
              </a>
            </td>
            <td>
              <a href="mailto:{{email}}">
                {{email}}
              </a>
            </td>
            <td>
              {{founded}}
            </td>
            <td>
              {{clubColors}}
            </td>
            <td>
              {{venue}}
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="collection with-header center">
        <li class="collection-header"><h4>Upcoming Matches</h4></li>
        {{teamMatches}}
      </ul>
    </div>
  </div>
</div>
