@import "../../node_modules/materialize-css/sass/materialize.scss";

// MaterializeCSS Override
.container {
  height: 100%;
}

.brand-logo {
  height: 100%;
}

.card .card-image img {
  height: 294px;
  object-fit: contain;
}

@import "./app.scss";
