@import "../../node_modules/materialize-css/sass/materialize.scss";

// MaterializeCSS Override
.container {
  height: 100%;
}

.brand-logo {
  height: 100%;
}

.card {
  background-color: inherit;

  .card-image img {
    height: 294px;
    object-fit: contain;
    background-color: #2f3136;
  }

  .card-content {
    padding: 40px 24px 24px;
  }
}

.sidenav {
  background-color: #36393f;

  li > a {
    color: #e8e6e3;
  }
}

@import "./app.scss";
